<section class="portfolio-content">
    <h2>Portfolio</h2>
    <div class="portfolio-grid">
        <div class="portfolio-card">
            <figure>
                <img src="/hot-topics/img/project1.png" alt="Brochure">
                <figcaption>Brochure</figcaption>
            </figure>
        </div>
        <div class="portfolio-card">
            <figure>
                <img src="/hot-topics/img/project2.png" alt="Project 2">
                <figcaption>Illustration</figcaption>
            </figure>
        </div>
        <div class="portfolio-card">
            <figure>
                <img src="/hot-topics/img/project3.png" alt="Project 3">
                <figcaption>Brochure</figcaption>
            </figure>
        </div>
        <div class="portfolio-card">
            <figure>
                <img src="/hot-topics/img/project4.png" alt="Project 4">
                <figcaption>Branding Package</figcaption>
            </figure>
        </div>
        <div class="portfolio-card">
            <figure>
                <img src="/hot-topics/img/project5.png" alt="Project 5">
                <figcaption>Logo</figcaption>
            </figure>
        </div>
        <div class="portfolio-card">
            <figure>
                <img src="/hot-topics/img/project6.jpg" alt="Project 6">
                <figcaption>Branding Package</figcaption>
            </figure>
        </div>
    </div>
</section>